
@{
    ViewBag.Title = "Warunki korzystania z serwisu";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

<h2>Warunki korzystania z serwisu</h2>

Tutaj podaj warunki korzystania z serwisu.

<div>
    <a href='@Url.Action("Index", "Home")'>Strona główna</a>
</div>