@font-face {
    font-family: TitilliumWeb-Regular;
    src: url('../fonts/Titillium-Web/TitilliumWeb-Regular.ttf') format('truetype');
}

@font-face {
    font-family: TitilliumWeb-Bold;
    src: url('../fonts/Titillium-Web/TitilliumWeb-Bold.ttf') format('truetype');
}
$font_family_regular: TitilliumWeb-Regular;
$font_family_bold: TitilliumWeb-Bold;
