div.-app-forgot-password-page {

    form {
        margin-top: calc(25vh - 100px);
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 30px 30px;

        h2 {
            margin-top: -10px;
            margin-bottom: 30px;
        }

        div.-app-button-container {
            margin-top: 20px;

            a, button {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        /*div.-app-links-container {
            margin-top: 20px;
        }*/
        .validation-summary-errors {
            margin-bottom: 20px;
            margin-top: 20px;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
        }
    }
}
