@import '_pc-global-variables.scss';

body {
    font-family: $font_family_regular;
}

/* content region - background and layout */

#content {
    min-height: 100vh;
    background: url('../../mko-resources/images/hexagons_background.svg'), #f4f4f4;
    background-size: contain;
    background-attachment: fixed;
    background-position: bottom right;
    background-repeat: no-repeat;
    padding-top: 30px;
}

.-mko-display-inline {
    display: inline-block !important;
}


@import '_tables.scss';
@import '_validation-helpers.scss';
@import '_navbar.scss';
@import '_sidebar.scss';
@import '_pages.scss';
@import '_large-table.scss';
@import '_front-page.scss';
@import 'anonymous-layout.scss';

@import 'Account_Login.scss';
@import 'Account_Register.scss';
@import 'Account_RegisterConfirm.scss';
