@{
    ViewBag.Title = "My application";
}

@section PageHeader
{
}

<div class="-mko-location-front-page">
    <h1>
        @ViewBag.Title
    </h1>

    <div class="-mko-lfp-panes-container">

        @{Html.RenderPartial("_pane", Tuple.Create(Url.Action("Index", "Home"), (string)null, "Item1"));}
        @{Html.RenderPartial("_pane", Tuple.Create(Url.Action("Index", "Home"), (string)null, "Item2"));}


        @{Html.RenderPartial("_pane", Tuple.Create(Url.Action("Index", "Home"), (string)null, "Item3"));}
        @{Html.RenderPartial("_pane", Tuple.Create(Url.Action("Edit", "Home", new { id = 0 }), (string)null, "Użytkownicy"));}

    </div>
</div>