
@{
    ViewBag.Title = "Hasło zmienione";
}


@section PageHeader
{
    <div class="page-header clearfix">
        <h1>
            Hasło zmienione
            <a class="btn btn-default btn-sm mko-back-button pull-right" href="@Url.Action("Index")"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;@BootstrapTemplates.Resources.MkoResources.BackButtonText</a>
        </h1>
    </div>
}

<div class="well well-lg">
    <p>Twoje hasło zostało zmienione.</p>
    <p>Przy kolejnym logowaniu użyj swojego nowego hasła.</p>
</div>

@{Html.RenderPartial("DisplayFormSmallBackButton", Url.Action("Index", "Home"), new ViewDataDictionary() { { "BackText", "Wróć" } });}
