@{
    ViewBag.Title = "E-mail potwierdzony";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}
<div class="container-fluid -app-confirm-email-page">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="well well-lg">
                <h2>Mail potwierdzony</h2>

                <p>Adres e-mail twojego konta został potwierdzony.</p>
                <p>Konto zostało przekazane do akceptacji administratorowi.</p>
                <p>Otrzymasz wiadomość, gdy będziesz mógł się zalogować.</p>

            </div>
        </div>
    </div>
</div>