@{
    ViewBag.Title = "Mail wysłany";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}
<div class="container-fluid -app-forgot-password-confirmation-page">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="well well-lg">
                <h2>Zapomniane hasło</h2>

                <p>Na podany adres e-mail wysłana została wiadomość. Kliknij na łącze w wiadomości aby ustawić nowe hasło.</p>
                <p>Uwaga! Jeśli jeszcze nie potwierdziłeś swojego adresu e-mail, nie otrzymasz wiadomości. Potwierdź adres e-mail i ponownie rozpocznij całą procedurę.</p>
            </div>
        </div>
    </div>
</div>