
@{
    ViewBag.Title = "Zarejestrowano";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}
<div class="container-fluid -app-register-confirm-page">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="well well-lg">
                <h2>Zarejestrowano</h2>

                <p>Twoje konto zostało zarejestrowane w systemie.</p>
                <p>Na podany adres e-mail wysłana została wiadomość. Kliknij na łącze w wiadomości aby potwierdzić swój adres e-mail.</p>
                <p>Po tym konto zostanie przekazane do akceptacji administratorowi.</p>

            </div>
        </div>
    </div>
</div>