@{
    ViewBag.Title = "Hasło zmienione";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}
<div class="container-fluid -app-reset-password-confirmation-page">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="well well-lg">
                <h2>Hasło zmienione</h2>

                <p>Twoje hasło zostało zmienione.</p>
                <p>Możesz teraz sie zalogować przy użyciu nowego hasła: <a href="@Url.Action("SignIn")">Zaloguj</a></p>

            </div>
        </div>
    </div>
</div>